<div class="row">
    <form action="/adaptador" method="POST" class="col s12">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <label for="name">Nome</label>
          <input placeholder="Digite o nome completo" name="nome" id="nome" type="text" class="validate" value="">
          <small class="grey-text lighten-1-text" style="margin-left:50px">*Campo obrigatório (Somente letras)</small>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">assignment_ind</i>
          <label for="matricula">Matrícula</label>
          <input placeholder="Digite a matrícula" name="matricula" id="matricula" type="number" class="validate" value="">
          <small class="grey-text lighten-1-text" style="margin-left:50px">*Campo obrigatório (Somente números)</small>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">group</i>
          <label for="setor">Setor</label>
          <input placeholder="Digite o nome do setor" name="setor" id="setor" type="text" class="validate" value="">
          <small class="grey-text lighten-1-text" style="margin-left:50px">*Campo obrigatório</small>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">date_range</i>
          <label for="data">Data</label>
          <input placeholder="Ex.: dd/mm/aaaa" maxlength="10"name="data" id="data" type="text" class="validate" value="">
          <small class="grey-text lighten-1-text" style="margin-left:50px">*Campo obrigatório</small>
        </div>
        <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
            <textarea name="observacao" id="observacao" class="materialize-textarea"></textarea>
            <label for="observacao">Observação</label>
            </div>
        </div>
        <a href="/adaptador" class="btn-small waves-effect waves-light grey lighten-1">
          <i class="material-icons prefix">arrow_back</i> Voltar
        </a>
        <button class="waves-effect waves-light btn-small blue lighten-1">
          Cadastrar <i class="material-icons right">send</i>
        </button>
    </form>
</div>
