<div class="row">
    <form action="/adaptador/create" method="POST" class="col s12">
        <div class="input-field col s6">
          <label for="name">Nome</label>
          <input placeholder="Digite o nome completo" name="nome" id="nome" type="text" class="validate" value="">
        </div>
        <div class="input-field col s6">
          <label for="matricula">Matrícula</label>
          <input placeholder="Digite a matrícula" name="matricula" id="matricula" type="text" class="validate" value="">
        </div>
        <div class="input-field col s6">
          <label for="setor">Setor</label>
          <input placeholder="Digite o nome do setor" name="setor" id="setor" type="text" class="validate" value="">
        </div>
        <div class="input-field col s6">
          <label for="data">Data</label>
          <input placeholder="Informe a data" name="data" id="data" type="text" class="validate" value="">
        </div>
        <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
            <textarea name="observacao" id="observacao" class="materialize-textarea"></textarea>
            <label for="observacao">Observação</label>
            </div>
        </div>
        <button class="waves-effect waves-light btn-small blue darken-4">Cadastrar</button>
    </form>
</div>
