<div class="row">
    {{> adaptador/navbar}}
</div>
<div class="container">
    <div class="row">
        {{> adaptador/table}}
        {{> adaptador/modalDelete}}
    </div>
    <div class="row center-align">
        {{> adaptador/pagination}}
    </div>
</div>
