<div class="row">
    {{> home/navbar}}
</div>
<div class="container">
    <div class="row">
        {{> home/table}}
    </div>
    <div class="row center-align">
        {{> home/pagination}}
    </div>
</div>
