<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import icons materialize-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
      {{!-- Import style.css --}}
      <link type="text/css" rel="stylesheet" href="/css/style.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      {{!-- charset com acentuação --}}
      <meta charset="UTF-8">

      <title>TI-GEXSLS</title>
    </head>

    <body>
      {{{body}}}
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="/js/jquery.mask.min.js"></script>
      <script type="text/javascript" src="/js/materialize.min.js"></script>
      <script>
        // Ativar o Modal do Materialize
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
        })
      </script>
      <script>
        //Utilizar o jQuery-Mask
        $(document).ready(function(){
          $("input[name='data']").mask('00/00/0000');
        });

        $(document).ready(function(){
          $("input[name='matricula']").mask('0000000');
        });
      </script>
      <script type="text/javascript" src="/helpers/validation.js"></script>
    </body>
  </html>